<!DOCTYPE html>
<html>
  <head>
    <title>ThpKitties</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Fonts -->
<!--     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800"> -->


  </head>

  <body>
<<<<<<< HEAD
  <%=stylesheet_link_tag"application"%>
    <%= render "layouts/nav"%>
    <%= render "layouts/menu-hamburger"%>
    <%= yield %>
    <%= render "layouts/footer"%>

=======

    <%= yield %>
    <%= link_to "sign_in", new_user_session_path, remote: true, class: "btn" %>
    <%= link_to "sign_up", new_user_registration_path, remote: true, class: "btn" %>
    <%=render "layouts/modale"%>
>>>>>>> 62ad1b795ee410af8ef4a892074755668bb0d807
  </body>
</html>
