<!DOCTYPE html>
<html>
  <head>
    <title>TKP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
<<<<<<< HEAD


    <%= yield %>
    <%= link_to "sign_in", new_user_session_path, remote: true, class: "btn" %>
    <%= link_to "sign_up", new_user_registration_path, remote: true, class: "btn" %>
    <%=render "layouts/modale"%>
=======

    <%= render "layouts/nav"%>
    <%= render "layouts/flashes"%>

    <%= yield %>
    <%= render "layouts/footer"%>
    <%= render "layouts/modale" %>



>>>>>>> 4f22553651d91465b4263d5a887349edb220ee6d
  </body>
</html>
